html {
  font-family: "Noto Sans", sans-serif;
}

h1, h3 {
  font-family: "Noto Sans Japanese", sans-serif;
}

li a {
  color: #b64c6e;
}

li a:hover {
  color: #860927;
}

.rule {
  border-color: #e2e2e2;
}

.btn-ghost {
  border-color: #b64c6e;
  color: #b64c6e;
}

.btn-ghost:hover {
  border-color: #860927;
  background-color: #d89fb0;
  color: #860927;
}
